<div class="favorites-wrap">
  <div class="favorites-header">
    <div class="favorites-title">
      My Favorites
    </div>
    <div class="favorite-header-right">
      <%= link_to image_tag('csv_button.png', class:"csv-button"),user_favorites_path(format: :csv) %>
      <div class="sort-form">
        <%= form_with(url: user_favorites_path(current_user.id), local: true, method: :get, class:"sort-form") do |form| %>
          <label class="sort-filtering"><%= form.select :sort_method, options_for_select([["Newest to Oldest", "sort_created_desc"], ["Oldest to Newest", "sort_created_asc"], ["あ to ん", "kana_asc"], ["ん to あ", "kana_desc"]], params[:sort_method]), class:"sort-select" %></label>
          <%= image_submit_tag("sort_button.png", class:"sort-button") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="wrap">
  <% @favorites.each do |favorite| %>
    <div id="favorites-word-<%= favorite.word.id %>">
      <%= link_to word_path(favorite.word.id), class:"favorites-piece" do %> 
          <div class="favorites-japanese" %>
            <div class="favorites-kana">
              <%= favorite.word.kana %>
            </div>
            <% if favorite.word.kanji.present? %>
              <div class="favorites-kanji">
                <%= favorite.word.kanji %>
              </div>
            <% else %>
              <div class="favorites-kanji">
                ---
              </div>
            <% end %>
          </div>
          <div class="favorites-english">
            <%= favorite.word.english %>
          </div>   
      <% end %>
      <div class="favorites-piece-below">
        <span class="favorites-piece-author">by <%= favorite.word.user.nickname %></span>
        <div class="favorites-piece-star" >
        <%= link_to image_tag('close_button.png', class:"star-button"), word_favorite_path(favorite.word.id, favorite.id), method: :delete, remote: true %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <%= paginate @favorites%>
</div>
