<div class="favorites-wrap">
  <div class="favorites-header">
    <div class="favorites-title">
      My Favorites
    </div>
  </div>
  <div class="wrap">
  <% @favorites.each do |word| %>
    <%= link_to word_path(word.word.id), class:"favorites-piece" do%>
      <%# <div class="search-result-piece"> %>
        <div class="favorites-japanese">
          <div class="favorites-kana">
            <%= word.word.kana %>
          </div>
          <% if word.word.kanji.present? %>
            <div class="favorites-kanji">
              <%= word.word.kanji %>
            </div>
          <% else %>
            <div class="favorites-kanji">
              ---
            </div>
          <% end %>
        </div>
        <div class="favorites-english">
          <%= word.word.english %>
        </div>   
    <% end %>
    <div class="favorites-piece-below" id="ss">
      <span class="favorites-piece-author">by <%= word.user.nickname %></span>
      <div class="favorites-piece-star", id="star-<%= word.id %>">
      <%= render partial: 'favorites/favorite', locals: { word: word.word } %>
      </div>
    </div>
  <% end %>
  </div>
  <%= paginate @favorites%>
</div>
