<%= render "shared/header" %>

<div class="my-posts-container">
  <div class="my-words">
    <div class="my-words-header">
      My Posts
    </div>
    <div class="sort-form-wrap">
      <%= form_with(url: user_path(current_user.id), local: true, method: :get, class:"sort-form") do |form| %>
        <label class="sort-filtering"><%= form.select :sort_method, options_for_select([["Newest to Oldest", "sort_created_desc"], ["Oldest to Newest", "sort_created_asc"], ["あ to ん", "kana_asc"], ["ん to あ", "kana_desc"]], params[:sort_method]), class:"sort-select" %></label>
        <%= image_submit_tag("sort_button.png", class:"sort-button") %>
      <% end %>
    </div>
  </div>

  <div class="my-words-list">
    <% @words.each do |word| %>
      <%= link_to word_path(word.id), class:"my-words-piece" do%>
        <div class="my-words-japanese">
          <div class="my-words-kana">
            <%= word.kana %>
          </div>
          <% if word.kanji.present? %>
            <div class="my-words-kanji">
              <%= word.kanji %>
            </div>
          <% else %>
            <div class="my-words-kanji">
              ---
            </div>
          <% end %>
        </div>
        <div class="my-words-english">
          <%= word.english %>
        </div>   
      <% end %>
      
      <div class="my-words-buttons">
        <%= render partial: 'favorites/favorite', locals: { word: word } %>
        <%= link_to image_tag('edit_button.png', class:"my-words-edit-button"), edit_word_path(word.id) %>
        <%= link_to image_tag('delete_button.png', class:"my-words-edit-button"), word_path(word.id), method: :delete, data: {confirm: "Do you really want to delete this word-info?"} %>
      </div>
    <% end %>
  </div>

  <%= paginate @words%>
</div>

<%= render "shared/footer_2" %>
