<header>
  <div class="header-upper">
    <div class="header-left">
      <%= link_to "Dict Japonicus", "/words", class:"app-title" %>
    </div>

    <div class="header-right">
      <% if user_signed_in? %>
        <ul class="header-right-lists">
          <li class="user_name"><%= current_user.nickname %></li>
          <li><%= link_to image_tag('pen_button.png', class:"header-right-button"), new_word_path %></li>
          <li><%= link_to image_tag('my_page_button.png', class:"header-right-button") %>
            <ul class="sub-my-page"> 
              <li><%= link_to "My Posts", user_path(current_user.id), class: "header-right-sub" %></li> 
              <li><%= link_to "My Favorites", user_favorites_path(current_user.id), class: "header-right-sub" %></li>
            </ul>
          </li>
          <li><%= link_to image_tag('key_button.png', class:"header-right-button") %>
            <ul class="sub-out">
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class:"header-right-sub" %></li>
            </ul>
          </li>
        </ul>
      <% else %>
        <ul class="header-right-lists">
          <li><%= link_to image_tag('key_button.png', class:"header-right-button") %>
            <ul class="sub-in">
              <li><%= link_to "Login", new_user_session_path, method: :get, class: "header-right-sub" %></li>
              <li><%= link_to "Sign Up", new_user_registration_path, method: :get, class: "header-right-sub" %></li>
            </ul>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="header-lower">
    <%= form_with(url: search_words_path, local: true, method: :get, class:"search-form") do |form| %>
      <label class="search-filtering"><%= form.select :search_method, [["forward match", "forward_match"], ["backward match", "backward_match"], ["partial match", "partial_match"], ["exact match", "exact_match"]] %></label>
      <%= form.text_field :search_word, class: "search-word", placeholder: "kana, kanji, or english" %>
      <%= image_submit_tag('search_button.png', class:"search-button") %>
    <% end %>
  </div>
</header>