<%= render "shared/header" %>

<script>
	$(document).ready(function(){
		$('#tagcloud').tagoSphere({
		});
	});
</script>
<style>
* {
  list-style-type: none;
  text-decoration: none;
}
</style>

<div class="tag-cloud-wrap">
  <div id="tagcloud", class="tag-cloud">
    <ul>
      <% @words.each do |w| %>
        <li><%= link_to w.kana, word_path(w.id), class: "tagcloud-piece" %></li>
      <% end %>
    </ul>
  </div>
</div>

<% if user_signed_in? %>
  <div class="top-info">
    <div class="top-info-box">
      <div class="request-words">
        <p class="request-title">Requested Words</p>
        <div class="request-contents">
        </div>

      </div>
      <div class="pick-up">
        <p class="pick-up-title">Pick Up</p>
        <div class="pick-up-contents">
        </div>
        
      </div>
    </div>
  </div>
<%else%>
  <div class="about">
    <div class="about-box">
      <p class="info-contents">
        <span class="info-title">About DJ</span><br>
        Dict Japonicus is a user-generated dictionary app that helps users find a way of learning the use of Japanese vocabularies.<br>
        This app aims to provide both learners and teachers with a tool of sharing their methods of understanding, searching, and teaching vocabularies.<br>
        If you are looking for a Japanese dictionary where you can find practical meanings of words and share your way of learning words, why don’t you join us?
      </p>
      <p class="info-contents">
        <span class="info-title">Be one of us!</span><br>
        If you want to use this app not only for searching words but for actively taking part in the development of this dictionary, be a member and enjoy the full functions of this app.<br><br>
        Members can: <br>
        ・post word information pages and edit them<br>
        ・make a favorite-word list and export it as a csv file<br>
        ・make a request for words you want to learn
      </p>
    </div>
    <div class="member-buttons">
      <%= link_to "Sign Up", new_user_registration_path, method: :get, class:"register-link-button"%>
      <%= link_to "Login", new_user_session_path, method: :get, class:"login-link-button"%>
    </div>
  </div>
<% end %>

<%= render "shared/footer_1" %>
