<%= render "shared/header" %>

<div class="search-results-container">
  <div class="searching-word-wrap">
    <div class="search-word-text">
      results for "<%= @word %>"
    </div>
  </div>
  <div class="search-result-piece-wrap">
    <% @words.each do |word| %>
      <%= link_to word_path(word.id), class:"search-result-piece" do%>
        <div class="japanese">
          <div class="search-kana">
            <%= word.kana %>
          </div>
          <% if word.kanji.present? %>
            <div class="search-kanji">
              <%= word.kanji %>
            </div>
          <% else %>
            <div class="search-kanji">
              ---
            </div>
          <% end %>
        </div>
        <div class="search-english">
          <%= word.english %>
        </div>
      <% end %>

      <div class="below-word-piece" id="ss">
        <span class="author">by <%= word.user.nickname %></span>
        <div class="search-star", id="star-<%= word.id %>">
          <% if user_signed_in? %>
            <%= render partial: 'favorites/favorite', locals: { word: word } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @words%>
</div>

<%= render "shared/footer_2" %>