<%= render "shared/header" %>

<div class="word-info">
  <div class="info-header">
    <div class="info-header-box">
      <div class="info-header-text">
        <%= @word.kana %>
      </div>
      <% if user_signed_in? %>
      <div class="info-edit-button" id="shs">
        <%= render partial: 'favorites/favorite' , locals: { word: @word }%>
        <% if @word.user_id == current_user.id %>
          <div><%= link_to image_tag('edit_button.png', class:"edit-button"), edit_word_path(@word.id) %></div>
          <div><%= link_to image_tag('delete_button.png', class:"edit-button"), word_path(@word.id), method: :delete, data: {confirm: "Do you really want to delete this word-info?"} %></div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="info-upper">
    <div class="info-basic-box" >
      <table class="info-basic-table">
        <tr>
          <td class="info-table-left">kana:</td>
          <td class="info-table-right"><%= @word.kana %></td>
        </tr>
        <tr>
          <td class="info-table-left">kanji:</td>
          <% if @word.kanji.present? %>
            <td class="info-table-right"><%=@word.kanji %></td>
          <% else %>
            <td class="info-table-right">---</td>
          <% end %>
        </tr>
        <tr>
          <td class="info-table-left">class:</td>
          <td class="info-table-right"><%=@word.word_class.name %></td>
        </tr>
        <tr>
          <td class="info-table-left">english:</td>
          <td class="info-table-right"><%= @word.english %><td>
        </tr>
      </table>
    </div>
    <% if @word.image.present? %>
      <div class="info-img-box">
        <%= image_tag @word.image, class: "info-img-content"%>
      </div>
    <% end %>
  </div>
  <div class="info-lower">
    <div class="info-details-wrap">
      <div class="info-table-details">details:</div>
      <div class="info-details-box"><%= simple_format(@word.explanation) %></div>
    </div>
  </div>
</div>

<div class="transition-buttons">
  <% if @previous_path == "edit" %>
    <%= link_to image_tag('home_button.png', class:"home-button"), root_path %>
    <%= link_to image_tag('my_page_button.png', class:"my-page-button"), user_path(@word.user_id)%>
  <% else %>
    <%= link_to image_tag('back_button.png', class:"back-button"), :back %>
  <% end%>
</div>

<%= render "shared/footer_2" %>